<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013894995920-g48v59nnj47jqgekmrf4d4no5kao3s7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013894995920-g48v59nnj47jqgekmrf4d4no5kao3s7k</string>
	<key>API_KEY</key>
	<string>AIzaSyBcT_LDvL4ugDAQjfgXWnySs3tsSqLmAxc</string>
	<key>GCM_SENDER_ID</key>
	<string>1013894995920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>find.FindYours</string>
	<key>PROJECT_ID</key>
	<string>findyours-b596a</string>
	<key>STORAGE_BUCKET</key>
	<string>findyours-b596a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013894995920:ios:9c58f13374e8a0b6</string>
	<key>DATABASE_URL</key>
	<string>https://findyours-b596a.firebaseio.com</string>
</dict>
</plist>